<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBpGXjwVm15IOLMnW_FIClqMy5_6k5K-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>181632620220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstproject</string>
	<key>PROJECT_ID</key>
	<string>catalog-app-7ffee</string>
	<key>STORAGE_BUCKET</key>
	<string>catalog-app-7ffee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181632620220:ios:9910de5a3d42136e45a2b9</string>
</dict>
</plist>